{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'blog/blog.css' %}" rel="stylesheet" type="text/css">
<title>Dashboard</title>
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="#"><span style="color: gold">Welcome&nbsp;{{ request.user|capfirst}}</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
                <a class="nav-item nav-link" href="/createpost/">Create Post</a>
            <a class="nav-item nav-link" href="/accounts/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<main role="main" class="container">
  <div class="row">
    <div class=" offset-md-2 col-md-8">
    {% if dashboard %}
        {% for post2 in posts %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="/userposts/{{ post2.author_id}}">{{ post2.title|title }}</a>
                  <small class="text-muted">{{ post2.publish}}</small>
                </div>
                <p class="article-content">{{ post2.body|linebreaks }}</p>
                  <span style="float: left"><a href="{{post2.get_absolute_url }}">Comments</a></span><span style="float: right"><a href="/update/{{ post2.slug }}" class="btn btn-success" role="button">Update</a>&nbsp;&nbsp;<a href="/delete/{{ post2.slug }}" class="btn btn-danger" role="button">Delete</a></span>
              </div>
            </article>
        {% endfor %}

    {% else %}
      {% block content %}{% endblock %}
    {% endif %}
    </div>
  {% if sidebar %}
    <div class="col-md-4">
      <div class="content-section">
        <h3>Blog Updates</h3>
        <p class='text-muted'>
          <ul class="list-group">
          <li class="list-group-item list-group-item-light"><a style="color: blue" href="{% url 'home' %}">Home</a></li>
            <li class="list-group-item list-group-item-light"><span style="color: blue" >Published Posts</span>:<span style="color: green"> {% total_posts %}</span></li>
            <li class="list-group-item list-group-item-light"><span style="color: blue" >Latest Posts</span>:{% show_latest_posts%}</li>
            <li class="list-group-item list-group-item-light"><span style="color: blue" >Most Commented Posts</span>:
                {% get_most_coomented_posts as most_commented_posts %}
                <ul>
                    {% for post  in most_commented_posts %}
                        <li style="list-style-type: none"><a href="{{ post.get_absolute_url }}">{{post.title|title}}</a></li>
                    {% endfor %}
                </ul>



            </li>
          </ul>
        </p>
      </div>
    </div>
  {% endif %}
  </div>
</main>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>